.home-project {
    background: var(--primary-black);
    color: var(--primary-white);
    padding: 100px 62px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-project .projects {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    flex-flow: wrap;
} 

.home-project .projects .projects-card {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.home-project .project-content-title {
    font-size: 48px;
    font-weight: 600;
    background: var(--gradient-golden) left bottom no-repeat;
    background-size: 100% 4px;
    text-align: center;
    margin-bottom: 28px;
}

.home-project .project-content-description {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 32px;
    margin-top: 32px;
}

.home-project .home-project-card {
    position: relative;
    height: fit-content;
}

.home-project .home-project-card img {
    border-radius: 12px;
    margin-bottom: 32px;
}

.home-project .home-project-card .project-card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background: rgba(0, 0, 0, 0.425);
    border-radius: 12px;
    transform-origin: bottom;
    transform: rotateX(90deg);
    transition: 0.3s;
    font-size: 16px;
    font-weight: 600;
    box-sizing: border-box;
    padding: 12px;
    overflow: hidden;
}

.home-project .home-project-card:hover .project-card-content{
    transform: rotateX(0deg);

}

@media screen and (min-width: 1024px) {
    .home-project .home-project-card {
        width: 360px;
        margin: 20px;
    }
    
    .home-project .home-project-card img {
        width: 360px;
    }
}

@media screen and (max-width: 1336px) {
    .home-project .project-content-title {
        font-size: 32px;
        width: fit-content;
        margin: 0 auto;
    }
    .home-project .project-content-description {
        text-align: center;
    }

    .home-project {
        padding: 50px 20px;
    }
    .home-project .home-project-card {
        width: 300px;
        margin: 20px;
    }
    
    .home-project .home-project-card img {
        width: 300px;
    }
}

@media screen and (max-width: 1070px) {
    .home-project {
        padding: 50px 10px;
    }
    .home-project .home-project-card {
        width: 260px;
        margin: 10px;
    }
    
    .home-project .home-project-card img {
        width: 260px;
    }
}