#home-count-up {
    padding: 62px 100px;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    background: url('../../img/home/home-counter.svg');
    color: var(--primary-white);
}

#home-count-up .count-up-item {
    text-align: center;
    font-size: 48px;
    font-weight: 500;
}