.home-menu {
    border-radius: 50%;
    background: 
        linear-gradient(var(--primary-black), var(--primary-black)) padding-box,
        var(--gradient-golden) border-box;
    border: 13px solid transparent;
    width: 758px;
    height: 758px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    transition: 0.5s ease-in-out;
}

.home-menu .list-menu-home{
    background-image: url(../../img/earth.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 758px;
    height: 758px;
    border-radius: 50%;
    position: relative;
}

.home-menu .list-menu-home .menu-item {
    position: absolute;
    height: 80px;
    background: 
        linear-gradient(var(--primary-black), var(--primary-black)) padding-box,
        var(--gradient-golden) border-box;
    border-radius: 60px;
    border: 3px solid transparent;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.home-menu .list-menu-home .menu-item .menu-icon {
    height: 48px;
}

.home-menu .list-menu-home .menu-item .menu-icon img {
    width: 48px;
}

.home-menu .list-menu-home .menu-item:hover {
    background: 
        linear-gradient(var(--primary-black), var(--primary-black)) padding-box,
        var(--primary-white) border-box;
}

.home-menu .list-menu-home .menu-item a {
    height: 100%;
    background-image: var(--gradient-golden);
    background-clip: text;
    -o-background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    -o-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    line-height: 80px;
    margin-left: 20px;
}

#explore-more {
    position: absolute;
    left: 0; 
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 313px;
    height: 110px;
    cursor: pointer;
    border-radius: 55px;
    border: none;
    background: linear-gradient(180deg, #DBA900 0%, #FFCC00 100%);
    box-shadow: 1.72675e-15px 28.2px 56.4px rgba(49, 38, 0, 0.1455), inset -4.33607e-16px -7.08133px 7.08133px #D4A400, inset 4.33607e-16px 7.08133px 7.08133px #FFD100;
    color: var(--primary-white);
    font-size: 32px;
    font-weight: 700;
}

.home-menu-active {
    transform: translateX(500px);
}

.explore-more-hidden {
    display: none;
}

.content-hidden {
    display: none;
}

.content-block {
    display: block;
}

.menu-item-noactive {
    width: 80px;
}

.menu-item-active {
    width: 360px;
}

.menu-item-noactive:nth-child(1) {
    top: 50px;
    left: 40px;
}
.menu-item-noactive:nth-child(2) {
    top: 240px;
    left: -65px;
}
.menu-item-noactive:nth-child(3) {
    top: 430px;
    left: -65px;
}

.menu-item-noactive:nth-child(4) {
    top: 620px;
    left: 40px;
}


.menu-item-active:nth-child(1) {
    top: 50px;
    left: -250px;
}
.menu-item-active:nth-child(2) {
    top: 240px;
    left: -340px;
}
.menu-item-active:nth-child(3) {
    top: 430px;
    left: -340px;
}

.menu-item-active:nth-child(4) {
    top: 620px;
    left: -250px;
}