.home-project {
    background: var(--primary-black);
    color: var(--primary-white);
    padding: 100px 62px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-project .project-content-description {
    width: 300px;
}

.home-project .projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: wrap;
} 

.home-project .projects .projects-card {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.home-project .project-content-title {
    font-size: 48px;
    font-weight: 600;
    background: var(--gradient-golden) left bottom no-repeat;
    background-size: 100% 4px;
    width: fit-content;
    margin-bottom: 28px;
}

.home-project .project-content-description {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 32px;
}

.home-project .home-project-card {
    position: relative;
    height: fit-content;
    width: 450px;
}

.home-project .home-project-card img {
    border-radius: 12px;
    width: 450px;
    margin-bottom: 32px;
}

.home-project .home-project-card .project-card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(0, 0, 0, 0.425);
    border-radius: 12px;
    transform-origin: bottom;
    transform: rotateX(90deg);
    transition: 0.3s;
    font-size: 24px;
    font-weight: 600;
    box-sizing: border-box;
    padding: 28px;
    overflow: hidden;
}

.home-project .home-project-card:hover .project-card-content{
    transform: rotateX(0deg);

}