@import url(./home-intro/home-intro.css);

#home {
    background-image: url(../../img/bg_homepage.gif);
    height: 100vh;
    color: var(--primary-white);
    display: flex;
    justify-content: space-between;
    padding: 46px 60px;
    box-sizing: border-box;
    overflow: hidden;
}