.card-department{
    height: 717px;
    max-height: 717px;
    background-color: white;
    border-radius: 15px;
}
.card-department-img{
    width: 100%;
}
.card-department-name{
    padding:0px 32px;
    display: flex;
    justify-content: start;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
}
.card-department-desctiption{
    padding:0px 32px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}