.home-info .info-title {
    margin-bottom: 10px;
}

.home-info .info-intro .introduction{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
}

.home-info .info-title .title-item {
    font-size: 48px;
    font-weight: 700;
}