.home-brand {
    display: flex;
}

.home-brand .home-logo {
    margin-right: 20px;
}

.home-brand .home-brand-info .brand-info-name {
    font-size: 48px;
    font-weight: 700;
}

.home-brand .home-brand-info .brand-info-slogan {
    font-size: 28px;
    font-weight: 500;
}