<div id="home-des-slogan">
    <div class="home-des-image">
        <div class="des-img" data-aos="fade-right">
            <img src="img/home/des-slogan-img.jpg" alt="">
        </div>
    </div>
    <div class="home-des-content" data-aos="fade-left">
        <h1 class="des-slogan-title">MAKE A DIFERENCE</h1>
        <div class="des-slogan-content">We provide solutions to help your business build an effective digital transformation roadmap,
            provide enterprise security solutions, and execute software build-out development. And ensure optimal cost matching for your business.</div>
        <div class="des-slogan-action btn btn-cta"><a href="#">SEE MORE</a></div>
    </div>
</div>
