<div class="card-project">
    <div class="card-project-content">
        <h1 class="project-content-title">FEATURED PROJECT</h1>
        <div class="project-content-description">Below are some of the outstanding projects we have worked on</div>
    </div>
    <div class="projects">
        <% categories.forEach(category => { %>
            <div class="project-card">
                <a href="/product/<%= category.id %>/<%= category.products[0].id %>  ">
                    <div class="project-card-img"><img src="/<%= category.products[0].banner %>" alt=""></div>
                    <div class="project-card-content"><%= category.products[0].name %> </div>
                </a>
            </div>
        <% }) %>
    </div>    
</div>