<div class="home-project">
    <div class="home-project-content">
        <h1 class="project-content-title">FEATURED PROJECTS</h1>
        <div class="project-content-description">Below are some of the outstanding projects we have worked on</div>
    </div>
    <div class="projects">
        <div class="home-project-card">
            <a href="#">
                <div class="project-card-img"><img src="/img/home/demo-home-project.jpg" alt=""></div>
                <div class="project-card-content">Example</div>
            </a>
        </div>
        <div class="home-project-card">
            <a href="#">
                <div class="project-card-img"><img src="/img/home/demo-home-project.jpg" alt=""></div>
                <div class="project-card-content"></div>
            </a>
        </div>
        <div class="home-project-card">
            <a href="#">
                <div class="project-card-img"><img src="/img/home/demo-home-project.jpg" alt=""></div>
                <div class="project-card-content"></div>
            </a>
        </div>
    </div>    
</div>