<div class="home-project">
    <h1 class="project-content-title">FEATURED PROJECTS</h1>
    <div class="projects">
        <div class="projects-card">
            <div class="home-project-content">
                
                <div class="project-content-description">Below are some of the outstanding projects we have worked on</div>
            </div>
            <div class="home-project-card card-cover" data-aos="fade-up">
                <a href="#">
                    <div class="project-card-img"><img src="img/demo-home-project-cover.jpg" alt=""></div>
                    <div class="project-card-content">Example</div>
                </a>
            </div>
            <div class="home-project-card" data-aos="fade-up">
                <a href="#">
                    <div class="project-card-img"><img src="img/demo-home-project.jpg" alt=""></div>
                    <div class="project-card-content"></div>
                </a>
            </div>
        </div>
        <div class="projects-card">
            <div class="home-project-card" data-aos="fade-up">
                <a href="#">
                    <div class="project-card-img"><img src="img/demo-home-project.jpg" alt=""></div>
                    <div class="project-card-content"></div>
                </a>
            </div>
            <div class="home-project-card" data-aos="fade-up">
                <a href="#">
                    <div class="project-card-img"><img src="img/demo-home-project.jpg" alt=""></div>
                    <div class="project-card-content"></div>
                </a>
            </div>
            <div class="home-project-card" data-aos="fade-up">
                <a href="#">
                    <div class="project-card-img"><img src="img/demo-home-project.jpg" alt=""></div>
                    <div class="project-card-content"></div>
                </a>
            </div>
        </div>
        <div class="projects-card">
            <div class="home-project-card" data-aos="fade-up">
                <a href="#">
                    <div class="project-card-img"><img src="img/demo-home-project.jpg" alt=""></div>
                    <div class="project-card-content"></div>
                </a>
            </div>
            <div class="home-project-card" data-aos="fade-up">
                <a href="#">
                    <div class="project-card-img"><img src="img/demo-home-project.jpg" alt=""></div>
                    <div class="project-card-content"></div>
                </a>
            </div>
            <div class="home-project-card" data-aos="fade-up">
                <a href="#">
                    <div class="project-card-img"><img src="img/demo-home-project.jpg" alt=""></div>
                    <div class="project-card-content"></div>
                </a>
            </div>
        </div>
    </div>
    
</div>