<div class="home-product">
    <div class="home-product-title">EXPLORE OUR PRODUCTS</div>
    <div class="home-product-description">Below are the 3 main product groups that we provide, please read more to understand better</div>
    <div class="products">
        <div class="card-home-product">
            <a href="#">
                <div class="card-image"><img src="img/cyber-security-home.svg" alt="GPT Cyber security"></div>
                <div class="card-title">Cyber Security</div>
                <div class="card-description">Donec a eros justo. Fusce egestas tristique ultrices. Nam tempor, augue nec
                tincidunt molestie, massa nunc varius arcu, at scelerisque elit erat a magna. Donec quis erat at libero
                ultrices mollis. In hac habitasse platea dictumst.</div>
            </a>
        </div>
        <div class="card-home-product">
            <a href="#">
                <div class="card-image"><img src="img/digital-transformation-home.svg" alt="GPT Digital transformation"></div>
                <div class="card-title">
                    Digital Transformation
                </div>
                <div class="card-description">
                    Donec a eros justo. Fusce egestas tristique ultrices. Nam tempor, augue nec
                    tincidunt molestie, massa nunc varius arcu, at scelerisque elit erat a magna. Donec quis erat at libero
                    ultrices mollis. In hac habitasse platea dictumst.
                </div>
            </a>
        </div>
        <div class="card-home-product">
            <a href="#">
                <div class="card-image"><img src="img/software-home.svg" alt="GPT Software"></div>
                <div class="card-title">Software</div>
                <div class="card-description">
                    Donec a eros justo. Fusce egestas tristique ultrices. Nam tempor, augue nec
                    tincidunt molestie, massa nunc varius arcu, at scelerisque elit erat a magna. Donec quis erat at libero
                    ultrices mollis. In hac habitasse platea dictumst.
                </div>
            </a>
        </div>
    </div>
</div>