.nav-menu {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-black);
    padding: 0 62px;
    color: var(--primary-white);
    height: 146px;
    align-items: center;
}

.nav-menu .nav-menu-brand {
    display: flex;
    align-items: center;
}

.nav-menu .nav-menu-brand .logo-brand {
    margin-right: 20px;
}

.nav-menu-brand .info-brand .brand-name {
    font-size: var(--fontsize-48);
    font-weight: 700;
}

.nav-menu-brand .info-brand .brand-slogan {
    font-size: var(--fontsize-28);
    font-weight: 500;
}

.menu-list .menu-item {
    margin-left: 30px;
    font-size: 24px;
    font-weight: 500;
}

.menu-list .menu-item a:hover {
    font-weight: 700;
    background: -webkit-linear-gradient(130.51deg, #EB9400 15.72%, #FFE600 84.94%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    -o-text-fill-color: transparent;
    -moz-text-fil-color: transparent;
    -webkit-text-fill-color: transparent;
    
}