.nav-menu {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    padding: 32px 62px;
    color: var(--primary-white);
    align-items: center;
    transition: 0.2s ease-in-out;
}

.normal-menu {
    background-color: var(--primary-black);
}

.nav-menu .nav-menu-brand {
    display: flex;
}

.nav-menu .nav-menu-brand .logo-brand {
    margin-right: 20px;
}

.menu-list .menu-item {
    margin-right: 28px;
    font-size: 24px;
    font-weight: 500;
}

.menu-list .menu-item a:hover {
    font-weight: 700;
    background: -webkit-linear-gradient(130.51deg, #EB9400 15.72%, #FFE600 84.94%);
    background-clip: text;
    -o-background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    -o-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}