.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap;
    padding: 12px 62px;
    color: var(--primary-white);
    transition: 0.2s ease-in-out;
}

.normal-nav-header {
    background-color: var(--primary-gray);
}

.header-contact {
    display: flex;
    flex-flow: wrap;
}

.header-contact .contact-item {
    display: flex;
    height: 100%;
    align-items: center;
}

.contact-item .contact-icon img {
    vertical-align: middle;
}

.header-contact .contact-item:last-child {
    margin-right: 20px;
}

.header-contact .contact-item .contact-icon {
    margin-right: 10px;
}

.nav-header .header-social {
    display: flex;
}

.nav-header .header-social .social-icon {
    margin-left: 10px;
}

.social-icon a img {
    vertical-align: middle;
}