<%- include('./customer-contact-img.ejs') %> 
<div class="container">
    <%- include('./protential-customers.ejs') %> 
    <%- include('./featured-partner.ejs') %> 
    <%- include('./customer-said.ejs') %>
</div>