<div class="gird">
    <h1 class="category-cus">FEATURED PARTNER</h1>
    <div class="row-protential">
        <div class="card-partner">
            <img src="/img/customer-img-partner.png" alt="" class="partner-img">
        </div>
        <div class="card-partner">
            <img src="/img/customer-img-partner.png" alt="" class="partner-img">
        </div>
        <div class="card-partner">
            <img src="/img/customer-img-partner.png" alt="" class="partner-img">
        </div>
        <div class="card-partner">
            <img src="/img/customer-img-partner.png" alt="" class="partner-img">
        </div>
        
        
    </div>
</div>