<div class="gird">
    <h1 class="category-cus">FEATURED PARTNER</h1>
    <div class="row">

        <div class="col l-3">
            <div class="featured-item">
                <p> </p>
            </div>
        </div>
        <div class="col l-3">
            <div class="featured-item">
                <p> </p>
            </div>
        </div>
        <div class="col l-3">
            <div class="featured-item">
                <p> </p>
            </div>
        </div>
        <div class="col l-3">
            <div class="featured-item">
                <p></p>
            </div>
        </div>
        
    </div>
</div>