<div class="grid">
    <h1 class="category-cus">PROTENTIAL CUSTOMERS</h1>
    <div class="row-protential">
        <% for(let i = 0; i < customers.length; i++) { %>
            <div class="card-customer">
                <img src="<%= customers[i].logo %> " alt="" class="card-customer-img">
                <div class="card-customer-name">
                    <%= customers[i].name %>
                </div>
            </div>
        <% } %>  
    
    </div>
</div>