<div class="home-social">
    <span class="social-item"><a href="<%= contact.linkedin %>" target="_blank"><img src="icon/linkedin.svg" alt="linkedin Gpt group"></a></span>
    <span class="social-item"><a href="<%= contact.instagram %>" target="_blank"><img src="icon/instagram.svg" alt="instagram Gpt group"></a></span>
    <span class="social-item"><a href="<%= contact.facebook %>" target="_blank"><img src="icon/facebook.svg" alt="facebook Gpt group"></a></span>
</div>