<div class="home-brand">
    <div class="home-logo"><img src="img/logo_header.png" alt=""></div>
    <div class="home-brand-info">
        <div class="brand-info-name">GPT GROUP</div>
        <div class="brand-info-slogan">MAKE A DIFFERENCE</div>
    </div>
</div>