<div class="home-info">
    <div class="info-title">
        <div class="title-item">WELCOME</div>
        <div class="title-item">GPT WEBSITE</div>
    </div>

    <div class="info-intro">
        <div class="introduction introduction_1"><%= aboutUs.introduction%> </div>
        <div class="introduction introduction_2"><%= aboutUs.goals[1]%> </div>
    </div>
</div>