<div class="home-menu">
    <div class="list-menu-home">
        <div class="menu-item menu-item-noactive">
            <div class="menu-icon"><img src="icon/email.svg" alt="About GPT Group"></div>
            <a href="" class="content-hidden">
                <div class="menu-content">ABOUT US</div>
            </a>
        </div>
        <div class="menu-item menu-item-noactive">
                <div class="menu-icon"><img src="icon/email.svg" alt="Products GPT Group"></div>
            <a href="" class="content-hidden">
                <div class="menu-content">PRODUCTS</div>
            </a>
        </div>
        <div class="menu-item menu-item-noactive">
                <div class="menu-icon"><img src="icon/email.svg" alt="Customer GPT Group"></div>
            <a href="" class="content-hidden">
                <div class="menu-content">CUSTOMERS</div>
            </a>
        </div>
        <div class="menu-item menu-item-noactive">
                <div class="menu-icon"><img src="icon/email.svg" alt="Contact GPT Group"></div>
            <a href="/contact" class="content-hidden">
                <div class="menu-content">CONTACT</div>
            </a>
        </div>
        <button id="explore-more">Explore More</button>
    </div>
</div>