<div class="features-function">
    <h3 class="title-features">What we make for you</h3>
        <div class="row-software-product">
            <div class="">
                <div class="card-prduct-sofrware">
                    <div class="card-features-name">
                        
                    </div>
                </div>
            </div>
            <div class="">
                <div class="card-prduct-sofrware">
                    <div class="card-features-name">
                        
                    </div>
                </div>
            </div>
            <div class="">
                <div class="card-prduct-sofrware">
                    <div class="card-features-name">
                        
                    </div>
                </div>
            </div>
            <div class="">
                <div class="card-prduct-sofrware">
                    <div class="card-features-name">
                        
                    </div>
                </div>
            </div>
            <div class="">
                <div class="card-prduct-sofrware">
                    <div class="card-features-name">
                        
                    </div>
                </div>
            </div>
            <div class="">
                <div class="card-prduct-sofrware">
                    <div class="card-features-name">
                        
                    </div>
                </div>
            </div>
            <div class="">
                <div class="card-prduct-sofrware">
                    <div class="card-features-name">
                        
                    </div>
                </div>
            </div>
            <div class="">
                <div class="card-prduct-sofrware">
                    <div class="card-features-name">
                        
                    </div>
                </div>
            </div>
        </div>
</div>