<div class="features-function">
    <h3 class="title-features">We can support for you</h3>
    <div class="products">
        <% utility.forEach(element => { %>
            <div class="card-prduct">
                <img src="/img/customer-img-protential.png" alt="" class="card-customer-img">
                <div class="card-name">
                    <%= element %>
                </div>
            </div>
        <% }) %>
    </div>
</div>