<div class="feature-web">
    <div class="feature-web-item">
        <h3 class="feature-web-item--title">FEATURED WEBSITES</h3>
        <div class="feature-web-item--description">Below are some of the outstanding projects we have worked on</div>
    </div>
    <div class="feature-web-item">
        <img src="/img/home/demo-home-project-cover.jpg" alt="" class="feature-item-img">
    </div>
    <div class="feature-web-item">
        <img src="/img/home/demo-home-project.jpg" alt="" class="feature-item-img">
    </div>
    <div class="feature-web-item">
        <img src="/img/home/demo-home-project.jpg" alt="" class="feature-item-img">
    </div>
    <div class="feature-web-item">
        <img src="/img/home/demo-home-project.jpg" alt="" class="feature-item-img">
    </div>
    <div class="feature-web-item">
        <img src="/img/home/demo-home-project.jpg" alt="" class="feature-item-img">
    </div>
</div>