<div class="product-container">
    <%- include('../../common/img-contact/img-contact.ejs', {content: `PRODUCTS / ${category.name.toUpperCase()}` }) %>
    <%- include('../../common/nav-product/nav-product.ejs', { categories, index: category.id }) %>
    <%- include('./product.ejs', category) %>   
</div>