<div class="product-container softWare">
    <%- include('./img-contact.ejs', {categories, index}) %>
    <%- include('../../common/nav-product/nav-product.ejs', {categories, index}) %>
    <%- include('./product.ejs', {products, index}) %>   
</div>