.feature-web{
    color: var(--primary-white);
    padding: 20px 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit,
    minmax(585px,1fr));
    /* grid-template-rows: 260px 405px 260px 405px; */
    grid-template-rows: repeat(auto-fit,
    minmax(333px,1fr)); 
    grid-gap: 20px;
    grid-template-areas: 
    "h1 h2 h3"
    "h4 h2 h3"
    "h4 h5 h6"
    "h7 h5 h6";
}
.feature-web .feature-web-item--title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    padding-bottom: 5px;
    border-bottom: 4px solid #EB9400;
    width: 490px;
}
.feature-web .feature-web-item--description{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    width: 490px;
    margin-top: 20px;
}
.feature-web .feature-item{
    border-radius: 15px;
}
.feature-web .feature-item-img{
    background-size: cover;
    height: 665px;
}
.feature-web .feature-web-item:first-child{
    grid-area: h1;
}
.feature-web .feature-web-item:nth-child(2){
    grid-area: h2;
}
.feature-web .feature-web-item:nth-child(3){
    grid-area: h3;
}
.feature-web .feature-web-item:nth-child(4){
    grid-area: h4;
}
.feature-web .feature-web-item:nth-child(5){
    grid-area: h5;
}
.feature-web .feature-web-item:nth-child(6){
    grid-area: h6;
}