.product-container .software-description{
    max-width: 1920px;
    padding: 40px 60px;
}
.product-container .softWare-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height */
    color: white;
    border-bottom: 1px solid white;
}
.product-container .details{
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    padding-top: 40px;
}
.product-container .softWare-title--1{
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 40px;
}
.product-container .softWare-content{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.product-container .softWare-img{
    display: grid;
    grid-template-columns: 100%;
    grid-area: auto;
}
.product-container .img-description{
    margin-top: 40px;
    border-radius: 15px;
    width: 100%;
}