<div class="gird">
    <h1 class="category-aboutUs">WHO WE ARE</h2>
    <div class="description">
        <div class="title">GPT GROUP - Global Platform Technology</div>
        <div class="about-us">
            <p><%= introduction %> <br>
                <%= goals[1] %> 
            </p>
        </div>
        <br>
        <div class="title">Our core valsues</div>
        <p class="about-us">GPT Group was developed based on core values that are
            <span class="bold-description"><%= values %> </span>
            We always believe in the vision and strategy of the leader, uprightly face errors in the
            working process, and always put efficiency at work first. From there continue to improve,
            build quality staff and products with the best effect.
        </p>
    </div>
    <br>
    <div class="image-2">
    </div>
</div>