<div class="gird">
    <h1 class="category-aboutUs">OUR PRODUCTS</h2>
    <div class="row-product">
        <div class="">
            <div class="card-product">
                <a href="#">
                    <img src="img/aboutUs/aboutUs-CyberSecu.png" alt="" class="card-product-img">
                    <div class="card-product-name">CyberSecurity</div>
                </a>
            </div>
        </div>
        <div class="">
            <div class="card-product">
                <a href="#">
                    <img src="img/aboutUs/aboutUs-DT.png" alt="" class="card-product-img">
                    <div class="card-product-name">Digital Transformation </div>
                </a>
            </div>
        </div>
        <div class="">
            <div class="card-product">
                <a href="#">
                    <img src="img/aboutUs/aboutUs-Digital.png" alt="" class="card-product-img">
                    <div class="card-product-name">Software</div>
                </a>
            </div>
        </div>
    </div>
</div>