*{
    box-sizing: border-box;
}
body{   
    margin: 0;
}
.row-protential{
    display: grid;
    grid-template-columns: repeat(auto-fit,
    minmax(430px,1fr));
    place-items: center center;
}
.row-3{
    display: grid;
    grid-template-columns: repeat(auto-fit,
    minmax(583px,1fr));
    place-items: center center;
}
.container{
    max-width: 1920px;
    background-color:black ;
    padding: 50px 70px;
}

.category-cus{
    padding-left:8px ;
    padding-top: 20px;
    padding-bottom: 10px;
    color: white;
}
.card-customer{
    max-width: 430px;
    border-radius: 12px;
    align-items: center;
    height: 430px;
    max-height: 430px;
    min-height: 430px;
    background-color: white;
    margin: 15px 10px;
}
.card-customer-img{
    width: 100%;
}
.card-customer-name{
    font-family: 'Poppins';
    height: 70px;
    max-height: 70px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner-img{
    width: 100%;
}
.card-partner{
    max-width: 430px;
    border-radius: 12px;
    align-items: center;
    height: 200px;
    max-height: 200px;
    min-height: 200px;
    background-color: white;
    margin: 15px 10px;
}
.card-said{
    max-width: 585px;
    align-items: center;
    height: 310px;
    max-height: 310px;
    min-height: 310px;
    background-color: white;
    border-radius: 15px;
    padding: 29px;
    margin: 15px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-infomation{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-said .card-description{
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.avt{
    width: 82px;
    border-radius: 50%;
    margin-right: 20px;
}
.name-infomation{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}
.img-contact{
    max-width: 1920px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-image: url('/img/customer-img-contact.png');
    height: 700px;
    max-height: 700px;
    min-height: 700px;
    background-size: cover;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
}