<menu class="nav-menu">
    <div class="nav-menu-brand">
        <div class="logo-brand"><a href="/home"><img src="img/logo_header.png" alt="logo gpt group"></a></div>
    </div>
    <div class="menu-list">
        <span class="menu-item"><a href="/aboutus">ABOUT US</a></span>
        <span class="menu-item"><a href="#">PRODUCTS</a></span>
        <span class="menu-item"><a href="#">CUSTOMERS</a></span>
        <span class="menu-item"><a href="#">BLOG</a></span>
        <span class="menu-item"><a href="#">CAREER</a></span>
        <span class="menu-item"><a href="/contact">CONTACT</a></span>
    </div>
</menu>